fastapi
uvicorn[standard]
motor
pydantic
pydantic-settings
email-validator
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart

pytest
httpx
anyio
mongomock
mongomock-motor
requests
rapidfuzz
boto3
